.DS_Store
.idea/
.vscode

node_modules/
dist/
npm-debug.log*
yarn-error.log*

env.js
*.local

# .npmignore files follow the same pattern rules as .gitignore files; see https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
# If you want included some path back, use !; see https://git-scm.com/docs/gitignore

